<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Fault</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    h1 {
        text-align: center;
        border: 1px solid darkred;
    }

    h2 {
        margin: 50px;
    }

    h3 {
        margin: 50px;
    }

    p {
        margin: 50px;
    }
</style>
<body>
<h1>Error!</h1>
<p th:text="${fault}"/>
<a href="/watching">Submit another booking</a>
<br>
<a href="/watching/payment">Get payment information</a>
</body>
</html>